<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("In the Press")}</%block>

<div class="subheader">
    <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">You are here:</li>

            <li class="breadcrumbs__item">
                <a href="/">Home</a>
            </li>

            <li class="breadcrumbs__item">
                <span class="active">Press</span>
            </li>
        </ul>
    </div>

    <div class="subheader__container">
        <h1 style="font-weight: bolder; text-align: left;" class="subheader__title"><%block name="pageheader">${page_header or _("In the Press")}</%block></h1>
    </div>
</div>

<main id="main" aria-label="Content" tabindex="-1" style="min-height: 200px;">
    <section class="container about">
        <p>
            <%block name="pagecontent">${page_content or _("This page left intentionally blank. Feel free to add your own content.")}</%block>
        </p>
    </section>
</main>