## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

% if uses_bootstrap:
<!-- Footer START -->
<div class="body-footer">
    <div class="body-footer__container">
        <div class="body-footer__menu">
            <p class="body-footer__subtitle">Learn more</p>
            <div class="nested-default">
              <div class="nested-default__items">
                <div class="nested-default">
                  <div class="nested-default__items"><a href="/about">About</a>
                  </div>
                </div>
                <div class="nested-default">
                  <div class="nested-default__content"><p>Learning Communities</p></div><div class="nested-default__items"><a href="http://itf.gov.ng">Website</a></div>
                </div>
              </div>
            </div>
        </div>
        <div class="body-footer__brand">
            <a href="/">
              <img src="${footer['logo_image']}" class="logo" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}" />
            </a>
        </div>
        <div class="body-footer__insert">
            <p class="body-footer__title">ITF Learning</p>
            <ul class="languages-menu"><li class="languages-menu__item languages-menu__item--label">Language:</li><li class="languages-menu__item languages-menu__item--en languages-menu__item--active"><a class="languages-menu__link" href="/en/"
        title="en, currently in English">
        English
    </a></li></ul>
  
            <div class="body-footer__badges">
                <a
  href="https://www.facebook.com/itfniger"
  class="body-footer__badge"
  target="_blank"
  ><svg role="img"><title>Facebook</title><use xlink:href="${static.url('dipsims/images/facebook.svg')}#icon-facebook"></use></svg></a><a
  href="https://twitter.com/@ITFNigeria"
  class="body-footer__badge"
  target="_blank"
  title="Twitter page"
  ><svg role="img"><title>Twitter</title><use xlink:href="${static.url('dipsims/images/twitter.svg')}#icon-twitter" /></svg></a>
  
            </div>
        </div>
    </div>
  </div>
<!-- Footer START -->
<!-- Footer Body Mention START -->
  <div class="body-mentions">
    <div class="body-mentions__container">
        <div class="body-mentions__copyright">
            <p>2020 &copy; Industrial Training Fund (ITF). All Rights Reserved.</p>
        </div>
        <div class="body-mentions__poweredby">
            <a href="https://open.edx.org/">
                <small>Powered by</small>
                <strong>OpenedX</strong>
            </a>
        </div>
    </div>
  </div>
<!-- Footer Body Mention END -->
% else:
<!-- Footer START -->
<div class="body-footer">
    <div class="body-footer__container">
        <div class="body-footer__menu">
            <p class="body-footer__subtitle">Learn more</p>
            <div class="nested-default">
              <div class="nested-default__items">
                <div class="nested-default">
                  <div class="nested-default__items"><a href="/about">About</a>
                  </div>
                </div>
                <div class="nested-default">
                  <div class="nested-default__content"><p>Learning Communities</p></div><div class="nested-default__items"><a href="http://itf.gov.ng">Website</a></div>
                </div>
              </div>
            </div>
        </div>
        <div class="body-footer__brand">
            <a href="/">
              <img src="${footer['logo_image']}" class="logo" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}" />
            </a>
        </div>
        <div class="body-footer__insert">
            <p class="body-footer__title">ITF Learning</p>
            <ul class="languages-menu"><li class="languages-menu__item languages-menu__item--label">Language:</li><li class="languages-menu__item languages-menu__item--en languages-menu__item--active"><a class="languages-menu__link" href="/en/"
        title="en, currently in English">
        English
    </a></li></ul>
  
            <div class="body-footer__badges">
                <a
  href="https://www.facebook.com/itfniger"
  class="body-footer__badge"
  target="_blank"
  ><svg role="img"><title>Facebook</title><use xlink:href="${static.url('dipsims/images/facebook.svg')}#icon-facebook"></use></svg></a><a
  href="https://twitter.com/@ITFNigeria"
  class="body-footer__badge"
  target="_blank"
  title="Twitter page"
  ><svg role="img"><title>Twitter</title><use xlink:href="${static.url('dipsims/images/twitter.svg')}#icon-twitter" /></svg></a>
  
            </div>
        </div>
    </div>
  </div>
<!-- Footer END -->
<!-- Footer Body Mention START -->
  <div class="body-mentions">
    <div class="body-mentions__container">
        <div class="body-mentions__copyright">
            <p>2020 &copy; Industrial Training Fund (ITF). All Rights Reserved.</p>
        </div>
        <div class="body-mentions__poweredby">
            <a href="https://open.edx.org/">
                <small>Powered by</small>
                <strong>OpenedX</strong>
            </a>
        </div>
    </div>
  </div>
  <!-- Footer Body Mention END -->
% endif
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif